@{
    ViewData["Tilte"] = "Success";
}
@model User

<div class="header">
    <h5>Welcome @Model.FirstName !</h5> <a href="/logout"> Logout</a>
</div>

<div class="text-center">
    <div class="suc">
        <h1>Success</h1>
    </div>
</div>
