<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Projects</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <a href="/">Home</a> |  Projects | <a href="/contact"> Contact</a>
        </div>

        <div class="ProjMain">
            <h4>Here are some projects of mine!</h4>
            <div class="lis">
                <div class="lisItem">
                    <div class="proj-img">
                        <img src="~/imgs/hub.png">
                    </div>
                    <div class="info">
                        <h4><a href="https://github.com/AlmotairiW/MERN-Project" target="_blank">The Writer's Hub</a></h4>
                        <h9>My Project for Mern Stack</h9>
                    </div>
                </div>

                <div class="lisItem">
                    <div class="proj-img">
                        <img src="~/imgs/art.jpg">
                    </div>
                    <div class="info">
                        <h4><a href="https://github.com/AlmotairiW/djangoProject" target="_blank">Art Gallery</a></h4>
                        <h9>My Project for Python Stack</h9>
                    </div>
                </div>

                <div class="lisItem">
                    <div class="proj-img">
                        <img src="~/imgs/wishApp.png">
                    </div>
                    <div class="info">
                        <h4><a href="https://github.com/AlmotairiW/WishApp" target="_blank">Wish App</a></h4>
                        <h9>My Project for Python Stack Exam</h9>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>